# deps updated 2026-04-06
fastapi
uvicorn
motor==3.7.1
pymongo>=4.9,<5.0
python-jose
passlib
bcrypt==4.0.1
python-multipart
pydantic[email]
httpx
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
msal
anthropic
apscheduler
certifi
